#dashboard
 {
margin-top:-30px;
margin-left:370px;
//position: absolute;
overflow: hidden;
width:1010px;
height:500px;





}

#shelf, #left_shelf, #right_shelf {
    float:left;
    height: 150px;
}

#left_shelf, #right_shelf {
    width: 30px;
}

#menu_dashboard {
	display: inline-block;
	width: auto;
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#menu_dashboard li {
	width: auto;
	height: auto;
	display: inline-block;
	bottom: 0;
	vertical-align: bottom;
}


#menu_dashboard li.separator {
	width: 50px;
	height: 150px;
}

#menu_dashboard li a {
	display: block;
	height: 80px;
	width: 100px;
	position: relative;
	
    -webkit-transition-property: width, height;
    -webkit-transition-duration: 0.5s;
    -o-transition-property: width, height;
    -o-transition-duration: 0.5s;
    -moz-transition-property: width, height;
    -moz-transition-duration: 0.5s;
}

#menu_dashboard li a:hover {
	width: 150px;
	height: 40px;
}



#menu_dashboard li a img {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
}
